* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background: whitesmoke;
}

nav{
    display: flex;
    justify-content: space-between;
    background: #333;
    padding: 15px 40px;
    color: white;
}

nav ul {
    display: flex;
    gap: 30px;

}

nav li{
    list-style: none;

}

nav a{
    text-decoration: none;
    color: azure;
    font-weight: bold;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px 20px;
    background: beige;
}

.hero img {
    width: 220px;
    border-radius: 20px;
    border: 4px solid whitesmoke;
}

.about, .skills, .projects, .contact{
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
}

.skills{
    margin-bottom: 15px;
}

.bar{
    background: #ddd;
    height: 12px;
    border-radius: 5px;
}

.bar span {
    display: block;
    height: 12px;
    background: #333;
    border-radius: 5px;
}

